div,
header,
input,
button,
select {
  transition: all 0.3s !important;
  -webkit-transition: all 0.3s !important;
  -ms-transition: all 0.3s !important;
  transition: all 0.3s !important;
}

.toggle-button {
  position: fixed;
  top: 5px;
  right: 20px;
  z-index: 999;
}

:root {
  --backgound-color: #f8f9fa;
  --backgound-color-inside: #eeeeee;
  --header-background-color: white;
  --input-background-color: #fff;
  --color-text: #2c3e50;
  --webkit-box-shadow: 0 0 0 30px #fff inset !important;
  --backgound-color-them-btn: #343a40;
  --color-them-btn: #fff;
}

:root .dark-theme {
  --backgound-color: #343a40;
  --backgound-color-inside: #2c3136;
  --header-background-color: #222;
  --input-background-color: #1e1d2b;
  --color-text: #fff;
  --webkit-box-shadow: 0 0 0 30px #1e1d2b inset !important;
  --backgound-color-them-btn: #eeeeee;
  --color-them-btn: #2c3e50
}

.them-btn {
  background-color: var(--backgound-color-them-btn) !important;
  color: var(--color-them-btn) !important;
}

.header {
  background-color: var(--header-background-color);
  background-position: center;
}

.about-me {
  background-color: var(--backgound-color) !important;
  color: var(--color-text) !important;
}

.book-dody {
  background-color: var(--backgound-color) !important;
  color: var(--color-text) !important;
}

.book-dody-inside {
  background-color: var(--backgound-color-inside) !important;
  color: var(--color-text) !important;
}

input:-webkit-autofill,
input,
select {
  background-color: var(--input-background-color) !important;
  color: var(--color-text) !important;
  -webkit-background-clip: text;
  -webkit-box-shadow: var(--webkit-box-shadow);
  -webkit-text-fill-color: var(--color-text);
}

input::placeholder {
  color: var(--color-text) !important;
}

.user-name {
  color: var(--color-text) !important;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.fon {
  background-image: url('../assets/back/headerBack.jpg');
  min-height: 100vh;
  background-position: center;
}

.background {
  background-image: url('../assets/back/background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}